# ==========================================
# Home SOC Lab - Git Ignore
# ==========================================

# ----------------------------
# Wazuh Certificates & Secrets
# ----------------------------
*.pem
*.key
*.crt
*.csr
*.p12
*.pfx

# ----------------------------
# Credentials & Environment
# ----------------------------
*.env
.env
.env.*
wazuh-passwords.txt

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Temporary Files
# ----------------------------
*.tmp
*.temp
*.bak
*.swp

# ----------------------------
# Operating System Files
# ----------------------------
.DS_Store
Thumbs.db
Desktop.ini

# ----------------------------
# Visual Studio Code
# ----------------------------
.vscode/

# ----------------------------
# Python
# ----------------------------
__pycache__/
*.pyc

# ----------------------------
# Python Virtual Environments
# ----------------------------
venv/
.venv/

# ----------------------------
# VMware
# ----------------------------
*.lck
*.vmem

# ----------------------------
# Archive Files
# ----------------------------
*.zip
*.7z
*.rar